<div>
  <h4>Host</h4>
  <%= @service.provider.email %>
</div>

<h1><%= @service.title%></h1>

<%= @service.city %>, <%= @service.state %>

<p>
  <%= @service.about %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= render @service.comments.order(id: :desc) %>
  <strong>Leave a review:</strong>
  <%= render partial: 'comments/form', locals: { service: @service } %>
</p>
