<h1 class="text-3xl">List your service</h1>

<form action="/provider/services" method="post" class="space-y-8 divide-y divide-gray-200">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="sm:col-span-6">
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text" name="service[title]" id="title" value="<%= @service.title %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
    </div>

    <div class="sm:col-span-6">
        <label for="about" class="block text-sm font-medium text-gray-700">About</label>
        <textarea id="about" name="service[about]" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"><%= @service.about %></textarea>
    </div>

    <div class="inline-block sm:col-span-6">
        <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
        <input type="number" name="service[price]" id="price" value="<%= @service.price %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
    </div>

    <div class="inline-block sm:col-span-6">
        <label for="price_unit" class="block text-sm font-medium text-gray-700">Price Unit</label>
        <input type="text" name="service[price_unit]" id="price_unit" value="<%= @service.price_unit %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
    </div>

    <div class="inline-block sm:col-span-6 w-3/5">
        <label for="additional_charges" class="block text-sm font-medium text-gray-700">Additional Charges</label>
        <input type="text" name="service[additional_charges]" id="additional_charges" value="<%= @service.additional_charges %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
    </div>

    <div data-controller="address" data-action="map-loaded@window->address#initGoogle" class="sm:col-span-6">
        <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
        <input type="text" id="addresses" data-address-target="input" autocomplete="off" value="<%= @service.additional_charges %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">

        <input type="hidden" name="service[address_line1]" data-address-target="line1">
        <input type="hidden" name="service[address_line2]" data-address-target="line2">
        <input type="hidden" name="service[city]" data-address-target="city">
        <input type="hidden" name="service[state]" data-address-target="state">
        <input type="hidden" name="service[postal_code]" data-address-target="postal_code">
        <input type="hidden" name="service[country]" data-address-target="country">
        <input type="hidden" name="service[lat]" data-address-target="lat">
        <input type="hidden" name="service[lng]" data-address-target="lng">
    </div>

    <input type="submit" value="Create service" class="group relative w-1/3 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
</form>
