<%# Code displays the show services details page with edit and delete button%>
<%# TAILWIND STYLING DIVS AND CLASSES %>
<div class="w-screen h-auto flex items-center flex-col mb-10">
  <div class="w-4/5">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <%= cl_image_tag(@service.cover_image.key, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "rounded-md") %>
        <h3 class="mt-4 text-3xl leading-6 font-medium text-gray-900"><%= @service.title%></h3>
        <%= cl_image_tag(Profile.find_by(user_id: @service.provider_id).avatar_image.key, transformation: ["media_lib_thumb"], cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "inline-block mt-4 h-10 w-10 rounded-full bg-gray-400") %>
        <p class="mt-4 inline-block"><%= Profile.find_by(user_id: @service.provider_id).first_name %> <%= Profile.find_by(user_id: @service.provider_id).last_name %></p>
        <p class="mt-4 mb-4 max-w-2xl text-sm text-gray-500"><%= @service.city %>, <%= @service.state %></p>
        <p class="mt-4 mb-4 max-w-2xl text-sm text-gray-500">$<%= @service.price %>, <%= @service.price_unit %></p>
        <p class="mt-4 mb-10 max-w-2xl text-sm text-gray-500"><%= @service.about %></p>
        <%= link_to "Edit", edit_provider_service_path(@service), class: "font-medium text-base text-white px-4 py-1 border border-transparent rounded-md bg-teal-700 hover:bg-teal-800" %>
        <%= button_to "Delete", provider_service_path(@service), method: :delete, class: "mt-4 font-medium text-base text-white px-4 py-1 border border-transparent rounded-md bg-rose-700 hover:bg-rose-800" %>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Aditional Charges</dt>
            <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2"><%= @service.additional_charges %></dd>
          </div>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email address</dt>
            <dd class="mt-1 text-sm text-gray-800 sm:mt-0 sm:col-span-2"><%= User.find_by(id: @service.provider_id).email %></dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
