<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlDlU6QqWCzuRZ2X5nhvKdx2RhW1_XHZk&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>
  </head>
  <body>
    <div class="relative bg-white overflow-hidden">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
          <div>
            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
              <nav data-controller="menu" class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                  <div class="flex items-center justify-between w-full md:w-auto">
                    <a href="#">
                      <span class="sr-only">Workflow</span>
                      <img alt="Workflow" class="h-8 w-auto sm:h-10" src=<%= asset_path'tractorlogo_color.svg'%> >
                    </a>
                  </div>
                </div>
                <div class="md:block md:ml-10 md:pr-4 md:space-x-8">
                  <a href="/users/sign_up" class="font-medium text-base text-white px-4 py-1.5 border border-transparent rounded-md bg-teal-700 hover:bg-teal-800">Sign Up</a>
                  <%# class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-slate-600 hover:bg-slate-700 md:py-4 md:text-lg md:px-10" %>
                  <a href="/users/sign_in" class="font-medium text-teal-700 hover:text-teal-500">Sign In</a>
                  <a href="/services" class="font-medium text-teal-700 hover:text-teal-500">Search</a>
                </div>
              </nav>
            </div>
          </div>
          <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="sm:text-center lg:text-left">
              <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                <svg class="inline-block h-20 w-20" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.45 170.24">
                  <defs><style>
                      .b{fill:#374151;}.c{fill:#374151;}
                    </style></defs>
                  <path class="c" d="M224.39,73.13c-6.27-5.06-13.39-8.51-21.22-10.54-10.76-2.8-21.47-2.57-32.01,.69-12.88,3.98-23.29,11.62-30.91,22.75-8.61,12.57-12.18,26.44-9.79,41.64,.41,2.58,.88,5.15,1.34,7.83-.75,.1-1.15,.21-1.55,.21-16,0-32-.01-48.01,.03-1.67,0-2.1-.61-2.14-2.2-.14-6.56-1.17-13.01-4.48-18.73-2.79-4.83-6.21-9.29-9.47-14.09-.06,.07,.23-.35,.62-.64,9.83-7.16,20.66-12.22,32.45-15.2,2.73-.69,3.14-1.46,2.03-5.26-2.68,.74-5.39,1.46-8.07,2.23-10.79,3.1-20.66,8.07-29.58,14.88-1.32,1-2.14,1.21-3.64,.24-10.09-6.53-21.06-8.68-32.87-6.21-1.81,.38-3.62,.78-5.65,1.22-.13-7.06,.64-13.65,2.42-20.08,.63-2.28,1.97-4.17,4.52-4.87,8.56-2.35,17-5.26,25.68-7,10.99-2.2,22.17-3.51,33.28-5.08,1.64-.23,2.26-.62,2.25-2.38-.07-11.34-.02-22.67-.05-34.01,0-2.98-.83-5.49-3.9-6.91-2.22-1.03-2.65-3.18-1.97-5.36,.69-2.22,2.52-3.05,4.73-2.77,3.3,.42,5.55,2.5,7.31,5.12,2.16,3.21,2.88,6.86,2.88,10.67,.01,10.59,0,21.17,0,31.76,0,.89,0,1.77,0,2.62,3.92,.41,4.1,.29,4.85-3.13,.79-3.65,1.54-7.31,2.37-10.94,2.27-9.87,4.61-19.72,6.86-29.6,.73-3.21,2.05-4.92,4.53-5.23,10.24-1.27,20.46-2.79,30.73-3.69,18.05-1.58,36.12-1.57,54.12,.81,2.95,.39,5.9,1.01,8.75,1.86,1.98,.59,2.74,2.46,2.47,4.41-.3,2.13-1.46,3.72-3.9,3.82-.88,.04-1.75,0-3.01,0,.45,2.59,.86,4.86,1.25,7.13,1.79,10.66,3.59,21.32,5.32,31.99,.32,1.95,1.07,2.76,3.23,2.76,3.86,0,7.29,1.39,8.98,5.14,1.93,4.29,3.53,8.74,5.37,13.35-2.2,.95-3.71,2.71-6.14,.75ZM122.8,14.8c-1.39-.01-1.99,.37-2.32,1.85-2.22,9.96-4.05,20.05-7,29.79-4.26,14.09-2.1,28.4-2.74,42.62-.06,1.27,.39,1.81,1.7,1.8,4.5-.04,8.99,.04,13.49-.08,.68-.02,1.66-.73,1.94-1.36,5.56-12.76,14.79-22.06,26.76-28.88,.84-.48,1.57-1.96,1.58-2.98,.11-13.49,.04-26.98,.11-40.47,0-1.76-.58-2.32-2.3-2.3-5.16,.08-10.32,.03-15.49,.03-5.25,0-10.49,.03-15.74-.02Zm77.18,13.59c-.68-3.93-1.42-7.85-2.03-11.79-.23-1.49-.95-1.82-2.35-1.81-9.41,.06-18.82,.06-28.22,0-1.74-.01-2.29,.55-2.28,2.31,.07,12.16,.06,24.32,.02,36.47,0,1.98,.51,2.36,2.52,1.81,2.93-.8,6-1.45,9.03-1.52,8.24-.2,16.48-.07,24.73-.08,.89,0,1.77-.09,3-.15-1.52-8.74-2.96-17-4.39-25.25ZM42.92,82.86c.86,.1,2.33-.38,2.64-1.04,1.49-3.12,2.81-6.34,3.87-9.62,.24-.75-.58-2.17-1.32-2.78-.43-.35-2.23,.06-2.48,.58-1.68,3.47-3.11,7.06-4.75,10.91,.76,.78,1.34,1.86,2.03,1.94Zm12.78-11.99c-1.3,2.95-2.56,5.94-3.52,9.01-.25,.8,.44,2.62,1.02,2.78,.94,.25,2.79-.17,3.13-.86,1.55-3.2,2.88-6.53,3.87-9.93,.24-.82-1.12-2.11-2.02-3.66-1.22,1.29-2.12,1.86-2.48,2.68Z"/>
                  <path class="b" d="M239.45,119.71c-.12,27.77-23.34,51.51-53.06,50.5-25.63-.87-49.18-22.77-48.87-51.35,.3-27.82,23.06-50.52,50.88-50.38,28.36-.16,51.17,22.82,51.04,51.23Zm-22.13-.72c-.13-16.01-13.42-28.52-29.35-28.4-15.69,.11-29.22,13.85-28.29,30.37,.82,14.45,13.04,27.4,29.02,27.14,16.26-.08,28.74-13.4,28.62-29.11Z"/>
                  <path class="b" d="M58.57,162.31l-.02,.02-1.97,1.47-.87,.66c-2.73,1.11-5.4,2.4-8.19,3.31-10.96,3.57-21.36,2.31-31.14-3.85-.89-.56-1.87-.97-2.81-1.46l-.85-.7c-1.47-1.49-2.94-2.98-4.4-4.47-.12-.07-.21-.16-.28-.29-.99-1.35-1.98-2.7-2.97-4.05h0c-1.15-3.08-2.37-6.13-3.43-9.24-2.52-7.38-1.99-14.77,.81-21.87,1.5-3.79,3.99-7.19,6.02-10.77,.23-.41,.41-.86,.61-1.29l1.98-2c2.45-1.65,4.8-3.49,7.38-4.9,7.51-4.1,15.43-5.74,23.99-3.98,4.45,.91,8.59,2.39,12.45,4.75,.54,.33,1.23,.44,1.85,.65l.87,.66c1.82,1.66,3.64,3.32,5.45,4.98l.03,.03c1.45,2.36,2.96,4.7,4.36,7.1,4.34,7.44,4.94,15.58,3.67,23.78-.58,3.74-2.66,7.24-4.05,10.85-.29,.75-.55,1.51-.83,2.27-.07,.13-.17,.23-.29,.31-2.45,2.67-4.9,5.35-7.36,8.02Zm-39.84-28.32c0,9.52,7.81,17.23,17.38,17.16,9.42-.07,17.12-7.83,17.07-17.21-.05-9.39-7.79-17.04-17.23-17.03-9.38,0-17.21,7.78-17.21,17.08Z"/>
                </svg>
                <span class="text-slate-700 inline-block xl:inline">FarmPlace</span><br>
                <span class="text-4xl block text-teal-700">Needing</span>
                <span class="text-4xl block text-teal-700">crops planted,</span>
                <span class="text-4xl block text-teal-700">grain harvested,</span>
                <span class="text-4xl block text-teal-700">livestock transported?</span>
                <%# <span class="text-4xl block text-slate-600 xl:inline">Or list your services.</span> %>
              </h1>
              <p class="mt-3 text-base text-gray-900 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">The largest & most trusted marketplace for agricultural services.</p>
              <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                <div class="rounded-md shadow">
                  <a href="/services" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-700 hover:bg-teal-800 md:py-4 md:text-lg md:px-10"> Get started </a>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src=<%= asset_path'heroharvest.jpg' %> alt="">
        <%# <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://source.unsplash.com/_pBBkarmFTs/600x300" alt=""> %>
      </div>
    </div>
    <div class="m-12">
      <ul role="list" class="col-span-1 grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <% @services.each do |service| %>
          <li class="relative" data-lat="<%= service.lat %>" data-title="<%= service.title %>" data-lng="<%= service.lng %>">
            <a href="<%= service_path(service) %>" class="group block rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
              <%= cl_image_tag service.cover_image.key, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "bg-cover rounded-md" %>
              <button type="button" class="absolute inset-0 focus:outline-none">
                <span class="sr-only">View details for <%= service.title %></span>
              </button>
            </a>
            <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none"><%= service.title %></p>
            <p class="block text-sm font-medium text-gray-500 pointer-events-none"><%= service.city %>, <%= service.state %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
